li {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 85px;
  text-align: center;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-self: center;
  list-style: none;
  width: 300px;
}

.ticTac {
  margin: auto;
  width: 300px;
}

.ticTac:hover {
  cursor: pointer;
}
